torch>=2
torchaudio>=2
faster-whisper==1.1.0
ctranslate2<4.5.0
transformers
pandas
setuptools>=65
nltk
Flask
gunicorn
python-dotenv
filetype
pyannote.audio==3.1.1
huggingface-hub>=0.16.4
qdrant-client==1.12.2
sentence-transformers==2.2.2
huggingface-hub==0.16.4
numpy<2.0.0